# k-Nearest Neighbor

In [1]:
import numpy as np
import pandas as pd
import scipy

import matplotlib.pyplot as plt
from pylab import rcParams


import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
cars = pd.read_csv('mtcars.csv')
cars.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
cars_group = cars.groupby('am')

In [4]:
cars_group.mean()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,gear,carb
am,,,,,,,,,,
0,17.147368,6.947368,290.378947,160.263158,3.286316,3.768895,18.183158,0.368421,3.210526,2.736842
1,24.392308,5.076923,143.530769,126.846154,4.050000,2.411000,17.360000,0.538462,4.384615,2.923077

In [5]:
X_prime = cars.loc[:,['mpg','hp','wt']]
y = cars.loc[:,'am']

In [6]:
X = preprocessing.scale(X_prime)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=5)

## Building and training your model with training data

In [27]:
clf = KNeighborsClassifier(n_neighbors = 5)

clf.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

## Evaluating your model's predictions against the test dataset

In [28]:
y_pred = clf.predict(X_test)

print(metrics.classification_report(y_test, y_pred))
print(metrics.accuracy_score(y_test, y_pred))
print(metrics.confusion_matrix(y_test, y_pred))

             precision    recall  f1-score   support

          0       1.00      0.80      0.89         5
          1       0.67      1.00      0.80         2

avg / total       0.90      0.86      0.86         7

0.857142857143
[[4 1]
 [0 2]]

In [25]:
y_test

10    0
17    1
31    1
5     0
24    0
20    0
13    0
Name: am, dtype: int64

In [26]:
y_pred

array([0, 1, 0, 0, 0, 1, 0])